<div class="well">
  <%= render 'shared/header', header: post.title %>
  <%= render 'shared/creator_at', obj: post %>
  <p><%= post.description %></p>
  <%= link_to "Continue Reading", review_path(post) %>
</div>
