
<div class="row">
  <div class="col-md-3">
    <ul>
      <h2>Categories</h2>
      <% @categories.each do |category| %>
        <div class="panel panel-default">
          <div class="panel-body text-center">
            <%= render 'categories/category', category: category %>
          </div>
        </div>
      <% end %>
    </ul>
  </div>
  <div class="col-md-9">
    <%= render 'shared/header', header: 'Reviews: All' %>
    <% @posts.each do |post| %>
      <%= render 'post', post: post %>
    <% end %>
  </div>
</div>
