
<div class="row">
  <div class="col-md-3">
    <ul>
      <h2>Categories</h2>
      <% @categories.each do |category| %>
        <%= render 'categories/category', category: category %>
      <% end %>
    </ul>
  </div>
  <div class="col-md-9">
    <%= render 'shared/header', header: 'Reviews: All' %>
    <% @posts.each do |post| %>
      <%= render 'post', post: post %>
    <% end %>
  </div>
</div>
