<div class="row">
  <div class="col-md-3">
    <ul>
      <h2>Categories</h2>
      <% @categories.each do |category| %>
        <%= render 'category', category: category %>
      <% end %>
    </ul>
  </div>
  <div class="col-md-9">
    <h1>Reviews: <%= @category.name %></h1>
    <% @category.posts.each do |post| %>
      <%= render 'posts/post', post: post %>
    <% end %>
  </div>
</div>